
body{
    background-color: rgb(225, 205, 255);
    margin: 0;
}
h1{
    font-size: 80px;
    margin-left: 400px;
    margin-top: 0px;
    padding-top: 0px;
}
h1, h2, h3{
    color: rgb(177, 150, 124);
}
header{
margin-bottom: 0px;
}
header figure{
    margin: 0 auto;
}
header figure img{
    width: 100%;

}

section{
    margin-top: 0px;
    padding: 0px;
}